<turbo-frame id="daily_schedule">
  <h2><%= base_date.strftime("%Y年%m月%d日") %> のスケジュール</h2>

  <% dates.each do |date| %>
    <% active_time = date_active_times[date] %>
    <h3><%= date.strftime("%-m/%-d (%a)") %></h3>
    <% if active_time.present? %>
      <p>
        有効時間帯: <%= active_time.start_time.strftime("%H:%M") %> 〜
        <%= active_time.end_time.strftime("%H:%M") %>
      </p>
    <% end %>
    <ul>
      <% grouped_events[date]&.each do |event| %>
        <li>
          <%= event.title %>
          <%= event.start_time.strftime("%H:%M") %> - 
          <%= event.end_time.strftime("%H:%M") %>
        </li>
      <% end %>
      <% if grouped_events[date].blank? %>
        <li>予定なし</li>
      <% end %>
    </ul>
  <% end %>
</turbo-frame>
