<%= form_with model: event, data: { turbo_frame: "event_panel" }, class: "event-form" do |f| %>
  <div>
    <%= f.label :title, "タイトル", class: "form-label mb-0" %>
    <%= f.text_field :title, class: "form-control", id: "event-title", required: true %>
    <%= render 'shared/field_error', resource: event, field_name: :title %>
  </div>

  <div>
    <%= f.label :date, "日付", class: "form-label mb-0" %>
    <%= f.date_field :date, class: "form-control", id: "event-date", required: true %>
    <%= render 'shared/field_error', resource: event, field_name: :date %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.label :start_time, "開始時間", class: "form-label mb-0" %>
      <%= f.time_field :start_time, class: "form-control", id: "event-start_time", required: true %>
      <%= render 'shared/field_error', resource: event, field_name: :start_time %>
    </div>
    <div class="col-md-6">
      <%= f.label :end_time, "終了時間", class: "form-label mb-0" %>
      <%= f.time_field :end_time, class: "form-control", id: "event-end_time", required: true %>
      <%= render 'shared/field_error', resource: event, field_name: :end_time %>
    </div>
  </div>

  <div>
    <%= f.label :location, "場所", class: "form-label mb-0" %>
    <%= f.text_field :location, class: "form-control", id: "event-location" %>
  </div>

  <div>
    <%= f.label :category, "種類", class: "form-label mb-0" %>
    <%= f.select :category,
        options_for_select([["重要","重要"], ["仕事","仕事"], ["プライベート","プライベート"], ["その他","その他"]], f.object.category),
        {},
        class: "form-select", id: "event-category" %>
  </div>

  <div>
    <%= f.label :note, "備考", class: "form-label mb-0" %>
    <%= f.text_area :note, rows: 2, class: "form-control form-control-sm", style: "resize: none;" %>
  </div>

  <div class="d-grid mt-4">
    <%= f.submit event.new_record? ? "作成" : "更新", class: "btn btn-primary" %>
  </div>
<% end %>
