<turbo-frame id="event_panel">
  <h3>予定の編集</h3>

  <%= form_with model: @event, url: events_path, data: { turbo_frame: "event_panel" } do |f| %>
    <div class="form-group">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :date, "日付" %>
      <%= f.date_field :date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :start_time, "開始時間" %>
      <%= f.time_field :start_time, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :end_time, "終了時間" %>
      <%= f.time_field :end_time, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :location, "場所" %>
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :category, "種類" %>
      <%= f.select :category, options_for_select([["重要","重要"], ["仕事","仕事"], ["プライベート","プライベート"], ["その他","その他"]], f.object.category), {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :note, "備考" %>
      <%= f.text_area :note, class: "form-control" %>
    </div>

    <div class="event-edit-submit">
      <%= f.submit "更新", class: "event-edit-submit-btn" %>
      <%= link_to "戻る", events_path, data: { turbo_frame: "event_panel" }, class: "event-index-path-btn" %>
    </div>
  <% end %>
</turbo-frame>
